{{d-button
  icon="info-circle"
  action="toggleDetails"
  title="mentionables.info.title"
  label="mentionables.info.title"
}}
{{#if showDetails}}
  <div class="details">
    {{i18n 'mentionables.info.total' total=info.total}}
  </div>
{{/if}}