a.mentionable-item span {
  background-color: lightgrey;
  padding: 3px;
  border-radius: 3px;
  color: $primary;
}

.ac-mentionable-item ul li a {
  display: flex;
  align-items: center;
}

.ac-mentionable-item-name {
  padding-left: .5em;
}

.ac-mentionable-item-image {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 100%;
    object-fit: contain;
  }
}

.admin-plugins.mentionable-items {
  .title {
    display: flex;
    align-items: center;

    h2 {
      margin-bottom: 0;
    }

    .right {
      margin-left: auto;
      display: flex;

      > * {
        margin-left: .5em;
      }
    }
  }

  .mentionables-info {
    margin-left: 1em;
  }

  table {
    table-layout: fixed;

    td:last-of-type,
    th:last-of-type {
      text-align: center;
    }
  }

  .metionables-action-message {
    background-color: $primary-low;
    padding: 1em;
    margin: 1em 0;
  }
  
  .mentionables-dropdown {
    position: relative;

    .details {
      position: absolute;
      top: 25px;
      background-color: $secondary;
      padding: .5em 1em;
      border-top: 1px solid $primary-low;
      box-shadow: shadow('dropdown');
      z-index: 99;
      right: 0;
      min-width: 300px;

      ul {
        list-style: none;
        margin: 0;
        
        li {
          white-space: nowrap;
          margin: .5em 0;
        }
      }
    }

    &.mentionables-info .details {
      top: 35px;
      left: 0;
      right: unset;
    }
  }
}
